html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('/homeBackground.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#homeHeader{
    background: transparent;
}

#homeTitle {
    font-family: 'Limelight', cursive;
}

#homeLead {
    font-family: 'News Cycle', sans-serif;
    font-size: 28px;
    font-weight: bolder;
}

#homeFooter {
    flex-shrink: 0;
    color: #ffffff;
}

#homeFooterLink {
    color: #ffffff;
}