#surveyMain {
    background-color: #ffffff;
    position: center;
}

#surveyHeader {
    background-color: #ffffff;
}

#surveyTitle {
    font-family: 'Limelight', cursive;
}

#surveyLead {
    font-family: 'News Cycle', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

label {
    font-family: 'News Cycle', sans-serif;
    font-size: 22px;
}

#surveyFooterLinks {
    color: #000000;
}
