html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../images/homeBackground.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#homeHeader{
    background: transparent;
}

#homeTitle {
    font-family: 'Limelight', cursive;
}

#homeLead {
    font-weight: bolder;
    font-size: 22px;
}

#homeFooter {
    flex-shrink: 0;
    color: #ffffff;
}

#footerLink {
    color: #ffffff;
}