html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../images/homeBackground.jpeg');
    background-size: cover;
    
}

#mainHeader{
    background: transparent;
}

#mainTitle {
    font-family: 'Limelight', cursive;
}

#mainLead {
    font-weight: bolder;
    font-size: 22px;
}
