#surveyHeader {
    background-image: url('../images/homeBackground.jpeg');
    background-size: cover;
    width: auto;
}

#surveyTitle {
    font-family: 'Limelight', cursive;
}

#surveyLead {
    font-weight: bolder;
}